@charset "UTF-8";

.pag1{
    height: 100%;
    width: 85%;
    padding: 40px 30px;
    position: relative;
    overflow: hidden;
    animation: typing 1s steps(40) 1s normal;
}

.pag1 ul{
    list-style: inside;
    columns: 2;
    font-weight: bold;
    font-size: 1.3em;
}

.pag1 li{
    padding-top: 20px;
}
.pag1 p{
    font-weight: lighter;
    font-size: 0.9em;
}



@keyframes typing {
    from{
        height: 0;
    }
    to {
        height: 100%;
    }
}
.pag1 img{
    position: absolute;
    height: 250px;
    width: 270px;
    top: 55%;
    left: 70%;
}