@charset "uft-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #0b2135;
    color: #fff;
    overflow: hidden;
}

#logo {
    width: 45px;
}

.header > h1{
    font-size: 1.7em;
}

.header,.navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    background-color: #113150;
    box-shadow: 1px 5px 6px #29527a;
    height: 56px;
    justify-content: space-between;
    padding: 0 5%;
}

.navigation_header {
    gap: 2em;
}

.navigation_header a {
    text-decoration: none;
    color: #fff;
    transition: 1s;
    font-weight: bold;
    padding: 5px;
    /* color: #A4CF37; */
}

.active {
    background-color: #29527a;
    padding: 5px;
    border-radius: 10px;
}

.btn_icon_header {
    display: none;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .btn_icon_header {
        display: block;
    }

    .navigation_header {
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: #1e3a57;
        height: 100%;
        width: 35vw;
        padding: 16px;
        animation-duration: 1s;
        margin-left: -100vw;
    }
}

@keyframes showSidebar {
    from {
        margin-left: -100vw;
    }

    top {
        margin-left: -10vw;
    }
}

.content {
    height: 100vh;
    transition: 1s;
    background-image: url("../imagens/fundo11.jpg");
    background-size: cover;
    width: 100vw;
    margin: auto;
    position: relative;
}

.apresent {
    position: relative;
    display: flex;
}

.apresent>img {
    height: 70vh;
    margin-top: 5%;
}

.apresent>p {
    color: #000;
    width: 40%;
    margin: 15% 5% 5% 13%;
    font-weight: bold;
    text-align: justify;
}

.apresent1 {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
}

.apresent1>h1 {
    color: #000;
    width: auto;
    margin: auto;
    font-weight: bold;
    position: absolute;
    top:  3vh;
    left: 40vw;
}

.apresent1>p {
    position: absolute;
    color: #000;
    top: 15vh;
    left: 25vw;
    width: 50vw;
    margin: auto;
    font-weight: bold;
}
.tela2{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.623);
    padding-left: 13%;

}
.quadro{
    position: absolute;
    margin: 2.5%;
    height: 80%;
    width: 70%;
    background-image: url(../imagens/fundo-texto1.jpg);
    background-size: cover;
    color: black;
}

.quadro h1 {
    text-align: center;
    margin: 15px 30px;
    padding-bottom: 5px;
    border-bottom: solid 1px black;
    box-shadow: 0px 2px 3px -2px rgba(0, 0, 0, 0.3);
}

.quadro h2 {
    text-align: center;
    margin: 0px 150px;
    padding-bottom: 5px;
    border-bottom: solid 1px black;
    box-shadow: 0px 2px 3px -2px rgba(0, 0, 0, 0.3);
}

.quadro p {
    margin: 20px;
    text-indent: 30px;
}

.sobrep{
    position: absolute;
    display: flex;
    top: 60%;
    left: 20%;
    padding-top: 10px;
    height: 100px;
    width: 80vw;
}

input{
    display: none;
}


.fechar{
    position: absolute;
    top: 1%;
    right: 12%;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50px;
}
.fechar>img{
    height: 30px;
    width: 30px;
}
.fechar:hover{
    cursor: pointer;
    background-color: gray;
}

.but{
    height: 80px;
    width: 180px;
    margin-right: 12%;
    background-color: rgba(124, 184, 64, 0.651);
    border-radius: 20px;
    cursor: pointer;
    transition: .3;
}
.but>h2{
    padding-top: 15%;
    color: #000;
    text-align: center;
}


.but:hover{
    background-color: rgba(162, 228, 97, 0.911);
}

#licenc:checked ~ .sobrep {
    display: none;
}
#bacha:checked ~ .sobrep {
    display: none;
}
#tecn:checked ~ .sobrep {
    display: none;
}

#fechar:checked ~ .content .apresent1 .tela2{
    display: none;
}